/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #4baad3;
}
body {
	background-color: #4baad3;
}
.websiteWrapper {
	border-color: #4295b9;
}
.mainMenuWrapper {
	border-color: #4295b9;
}
.mainMenuWrapper > li.currentPage {
	background-color: #4baad3;
}
.headerOuterWrapper {
	border-color: #4295b9;
}
input.errorSearchFormSubmitButton, input.errorSearchFormSubmitButton:hover {
	background-color: #4baad3;
}
.portfolioOneItemImageWrapper, .portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-color: #4baad3;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #4baad3;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../ke01_img/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../ke01_img/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../ke01_img/smallPostReadMoreButtonBg.png);
}
input.contactSubmitButton, input.contactSubmitButton :hover {
	background-color: #4baad3;
}
.contactSubmitButton a{
	background-color: #4baad3;
	width: 60px;
	height: 30px;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	background-color: #4baad3;
}
.accordionButton .accordionButtonIcon {
	background-image: url(../ke01_img/accordionButtonBg.png);
}
.pageNumbersWrapper {
	border-color: #4295b9;
}
.footerWrapper {
	border-color: #4295b9;
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../ke01_img/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../ke01_img/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../ke01_img/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../ke01_img/accordionButtonBg-x2.png);
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
